{% extends 'member/area/base.html.twig' %}

{% block page_title post.title %}

{% block membership_area_page_title '' %}

{% block meta_canonical url('membership_area_post_view', {'id': post.id, 'slug': post.slug}) %}
{% block meta_image post.sharer|default(current_project.sharer|default('')) %}
{% block meta_description post.description|default('') %}

{% block membership_area_content %}
    <div data-controller="citipo-contentview"
         data-citipo-contentview-type-value="post"
         data-citipo-contentview-id-value="{{ post.id }}"></div>

    {% set social_sharers = include('_include/social_sharers.html.twig', {
        'route': 'membership_area_post_view',
        'params': {'id': post.id, 'slug': post.slug}
    }) %}

    {% set more = [] %}
    {% for other in post.more[0:3] %}
        {% set more = more|merge([
            {
                title: other.title,
                url: path('membership_area_post_view', {'id': other.id, 'slug': other.slug}),
                description: other.description,
                image: other.image,
                video: other.video ? other.video|split(':') : null,
                date: other.published_at|format_date('medium'),
            }
        ]) %}
    {% endfor %}

    {% set payload = {
        'current_url': url('membership_area_post_view', {'id': post.id, 'slug': post.slug}),
        'current_project': current_project.toArray,
        'default_list_image': asset('res/default.jpg'),
        'play_icon': asset('res/play.svg'),

        'section_id': 'posts',
        'section_name': 'membership.posts.title'|trans,
        'section_url': path('membership_area_posts'),

        'title': post.title,
        'description': post.description|default(''),
        'date': post.published_at ? post.published_at|format_date('medium') : null,
        'social_sharers': social_sharers,
        'video': post.video ? post.video|split(':') : null,
        'image': post.image,
        'previewing_text': not post.published_at ? 'posts.not_published'|trans : null,
        'content': '<div class="user-content">'~ post.content|apply_embed_consent ~'</div>',
        'more': more,
    } %}

    {% sandbox %}
        {% include 'member/area/_content.html.twig' with payload %}
    {% endsandbox %}
{% endblock %}
