services:
    database:
        ports: ['5432:5432']

    redis:
        ports: ['6379:6379']

    rabbitmq:
        ports: ['15672:15672']

    meilisearch:
        ports: ['7700:7700']

    mailcatcher:
        ports: ['1025:1025', '1080:1080']
