services:
    database:
        ports: ['5432:5432']

    rabbitmq:
        ports: ['15672:15672', '5672:5672']

    gotenberg:
        ports: ['3000:3000']

    meilisearch:
        ports: ['7700:7700']

    mailcatcher:
        ports: ['1025:1025', '1080:1080']
