{% extends 'console/project/base.html.twig' %}

{% block page_title 'edit.title'|trans({'%title%': page.title}, 'project_pages') %}

{% block sidebar_pages 'current' %}

{% block content %}
    <div class="world-box mb-3" {{ react_component('Project/Website/PageEditor', {'content': page.content}) }}></div>
{% endblock %}
