.gdpr {
    &-form {
        .form-group {
            border: 0;
            background: none;
            padding: 5px;
        }
    }

    &-section {
        box-shadow: 0 0 10px 0 rgba(151, 169, 149, 0.15);
        border: 1px solid #e2e2e2;
        padding: 30px;
        margin-bottom: 50px;

        &-name {
            margin-bottom: 20px;
            font-size: 22px;
        }

        &-project {
            margin-bottom: 25px;

            &-name {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
                text-transform: uppercase;
                color: $primary;
                border-bottom: 2px solid $primary;
                padding: 5px 0;
            }
        }
    }
}
