.petition .content-splash-title,
.petition .content-splash-social-sharers {
    text-align: left;
}
.petition .content-splash-title {
    font-size: 30px;
}
.petition .content-splash-image {
    border-radius: 10px;
}
.petition .content-splash {
    padding-bottom: 0;
}
.petition-form {
    margin-top: 50px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 10px;
}
.petition-form .user-form .form-group {
    padding: 0;
    background: transparent !important;
    border: 0 !important;
}
.petition-progress {
    text-align: center;
    margin-bottom: 15px;
    background: #444;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
.petition-count-number {
    font-size: 42px;
}
.petition-success {
    background: #e9f1e7;
    color: #30970d;
    padding: 7px 14px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
}
.petition-form .user-form {
    padding: 0 20px 20px 20px;
}
.petition-progress-bar {
    background: #fff;
    height: 16px;
    border-radius: 10px;
    padding: 2px;
}
.petition-progress-bar-value {
    background: #fff;
    height: 12px;
    min-width: 12px;
    border-radius: 10px;
}
.petition-addressed-to {
    background: #f5f5f5;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
}
.petition-addressed-to-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    color: #999;
}
