<div class="row clearfix">
    <div class="col-md-4">
        <img src="{{ asset('res/images/example-content-3.jpg') }}" alt="Lorem ipsum" />
    </div>
    <div class="col-md-4">
        <img src="{{ asset('res/images/example-content-4.jpg') }}" alt="Lorem ipsum" />
    </div>
    <div class="col-md-4">
        <img src="{{ asset('res/images/example-content-5.jpg') }}" alt="Lorem ipsum" />
    </div>
</div>
