<div class="row clearfix">
    <div class="col-md-4 text-center">
        <h1>
            200+
        </h1>

        <p>
            happy clients
        </p>
    </div>
    <div class="col-md-4 text-center">
        <h1>
            77
        </h1>

        <p>
            projects done
        </p>
    </div>
    <div class="col-md-4 text-center">
        <h1>
            12
        </h1>

        <p>
            awards won
        </p>
    </div>
</div>
