<div class="row clearfix">
    <div class="col-md-12" data-noedit>
        <div class="contenteditor-customblock"
             data-controller="contenteditor-custom-block"
             data-contenteditor-custom-block-name-value="QomonPetition"></div>
    </div>
</div>
