@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/abhayalibre/v18/e3tmeuGtX-Co5MNzeAOqinEgew.ttf) format('truetype');
}
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/abhayalibre/v18/e3t5euGtX-Co5MNzeAOqinEYx2zyqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/abhayalibre/v18/e3t5euGtX-Co5MNzeAOqinEY22_yqg.ttf) format('truetype');
}
