@font-face {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/akshar/v17/Yq6I-LyHWTfz9rGoqDaUbHvhkAUsSXYFy9A.ttf) format('truetype');
}
@font-face {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/akshar/v17/Yq6I-LyHWTfz9rGoqDaUbHvhkAUsSZECy9A.ttf) format('truetype');
}
