@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/alef/v24/FeVfS0NQpLYgrjI.ttf) format('truetype');
}
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/alef/v24/FeVQS0NQpLYglo50L5k.ttf) format('truetype');
}
