@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/alegreyasans/v26/5aUt9_-1phKLFgshYDvh6Vwt7V9tuA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/alegreyasans/v26/5aUo9_-1phKLFgshYDvh6Vwt7V9VBEh2jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/alegreyasans/v26/5aUz9_-1phKLFgshYDvh6Vwt3V0.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/alegreyasans/v26/5aUu9_-1phKLFgshYDvh6Vwt5eFImE0.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/alegreyasans/v26/5aUu9_-1phKLFgshYDvh6Vwt5f1LmE0.ttf) format('truetype');
}
