@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/allan/v26/ea8XadU7WuTxEtb2.ttf) format('truetype');
}
@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/allan/v26/ea8aadU7WuTxEu5KEPCN.ttf) format('truetype');
}
