@font-face {
  font-family: 'Alumni Sans';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/alumnisans/v20/nwpBtKqkOwdO2aOIwhWudG-g9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Alumni Sans';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/alumnisans/v20/nwpBtKqkOwdO2aOIwhWudG-g9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/alumnisans/v20/nwpHtKqkOwdO2aOIwhWudEWpx_zq_Xna-Xd9OO9QqA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/alumnisans/v20/nwpHtKqkOwdO2aOIwhWudEWpx_zq_Xna-Xd93-hQqA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/alumnisans/v20/nwpHtKqkOwdO2aOIwhWudEWpx_zq_Xna-Xd9uOhQqA.ttf) format('truetype');
}
