@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/amaticsc/v28/TUZyzwprpvBS1izr_vO0DQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/amaticsc/v28/TUZ3zwprpvBS1izr_vOMscG6eQ.ttf) format('truetype');
}
