@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/amiko/v15/WwkQxPq1DFK04tql.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/amiko/v15/WwkdxPq1DFK04uIZXHrE.ttf) format('truetype');
}
