@font-face {
  font-family: 'Andika';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/andika/v27/mem9Ya6iyW-Lwqgwb7YV.ttf) format('truetype');
}
@font-face {
  font-family: 'Andika';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/andika/v27/mem6Ya6iyW-Lwqgwb46pV50e.ttf) format('truetype');
}
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/andika/v27/mem_Ya6iyW-LwqgAbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/andika/v27/mem8Ya6iyW-Lwqg40ZM1Ug.ttf) format('truetype');
}
