@font-face {
  font-family: 'Anek Odia';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(files/s/anekodia/v17/TK3PWkoJARApz5UCd345tuevwwQX0CwsoYkAWgWYevAauivBUnmZfq3m.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Odia';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(files/s/anekodia/v17/TK3PWkoJARApz5UCd345tuevwwQX0CwsoYkAWgWYevAauivBUnl-ea3m.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Odia';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(files/s/anekodia/v17/TK3PWkoJARApz5UCd345tuevwwQX0CwsoYkAWgWYevAauivBUnkZea3m.ttf) format('truetype');
}
