@font-face {
  font-family: 'Anek Gurmukhi';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(files/s/anekgurmukhi/v13/0QIAMXRO_YSkA0quVLY79JnHybfeEOrXCa9Dmd9Ql6a6R_vEMc5TaLkbd5tpXA.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Gurmukhi';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(files/s/anekgurmukhi/v13/0QIAMXRO_YSkA0quVLY79JnHybfeEOrXCa9Dmd9Ql6a6R_vEMc5TaLkbkJxpXA.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Gurmukhi';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(files/s/anekgurmukhi/v13/0QIAMXRO_YSkA0quVLY79JnHybfeEOrXCa9Dmd9Ql6a6R_vEMc5TaLkb95xpXA.ttf) format('truetype');
}
