@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(files/s/anekmalayalam/v18/6qLjKZActRTs_mZAJUZWWkhke0nYa_vC8_Azq3-gP1SReZeOtqQuDVUTUZu-HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(files/s/anekmalayalam/v18/6qLjKZActRTs_mZAJUZWWkhke0nYa_vC8_Azq3-gP1SReZeOtqQuDVUTUXy5HMo.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(files/s/anekmalayalam/v18/6qLjKZActRTs_mZAJUZWWkhke0nYa_vC8_Azq3-gP1SReZeOtqQuDVUTURu5HMo.ttf) format('truetype');
}
