@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/arefruqaa/v26/WwkbxPW1E165rajQKDulEIA.ttf) format('truetype');
}
@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/arefruqaa/v26/WwkYxPW1E165rajQKDulKDwNcNI.ttf) format('truetype');
}
