@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/arimamadurai/v16/t5tmIRoeKYORG0WNMgnC3seB7Tk.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/arimamadurai/v16/t5t7IRoeKYORG0WNMgnC3seB1YXqips.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/arimamadurai/v16/t5t7IRoeKYORG0WNMgnC3seB1Znpips.ttf) format('truetype');
}
