@font-face {
  font-family: 'Arima';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/arima/v7/neIWzCqmt4Aup_qE1nFWqxI1RZX1YTA-pQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/arima/v7/neIWzCqmt4Aup_qE1nFWqxI1RZX1hjc-pQ.ttf) format('truetype');
}
