@font-face {
  font-family: 'Asap Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/asapcondensed/v18/pxifypY1o9NHyXh3WvSbGSggdOeJaEk.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/asapcondensed/v18/pxiYypY1o9NHyXh3WvSbGSggdOeJUPVBim4.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/asapcondensed/v18/pxidypY1o9NHyXh3WvSbGSggdNeL.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/asapcondensed/v18/pxieypY1o9NHyXh3WvSbGSggdO83TWlE.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/asapcondensed/v18/pxieypY1o9NHyXh3WvSbGSggdO8rTmlE.ttf) format('truetype');
}
