@font-face {
  font-family: 'Astloch';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/astloch/v27/TuGRUVJ8QI5GSeUjq9w.ttf) format('truetype');
}
@font-face {
  font-family: 'Astloch';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/astloch/v27/TuGUUVJ8QI5GSeUjk2A-6MM.ttf) format('truetype');
}
