@font-face {
  font-family: 'Asul';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/asul/v22/VuJ-dNjKxYr46fM.ttf) format('truetype');
}
@font-face {
  font-family: 'Asul';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/asul/v22/VuJxdNjKxYr40U8qeKY.ttf) format('truetype');
}
