@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/athiti/v14/pe0vMISdLIZIv1w4DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/athiti/v14/pe0sMISdLIZIv1wAsDdyAg.ttf) format('truetype');
}
