@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/atma/v19/uK_84rqWc-Eom24.ttf) format('truetype');
}
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/atma/v19/uK_z4rqWc-Eoo9J0Kjc.ttf) format('truetype');
}
