@font-face {
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/averiasanslibre/v20/ga6RaxZG_G5OvCf_rt7FH3B6BHLMEdVLEoc.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/averiasanslibre/v20/ga6caxZG_G5OvCf_rt7FH3B6BHLMEdVLKjsVL5c.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/averiasanslibre/v20/ga6XaxZG_G5OvCf_rt7FH3B6BHLMEeVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/averiasanslibre/v20/ga6SaxZG_G5OvCf_rt7FH3B6BHLMEd31N6cQ.ttf) format('truetype');
}
