@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/averiaseriflibre/v19/neIUzD2ms4wxr6GvjeD0X88SHPyX2xYOpwuK.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/averiaseriflibre/v19/neIbzD2ms4wxr6GvjeD0X88SHPyX2xYOpzM2xK0u.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/averiaseriflibre/v19/neIWzD2ms4wxr6GvjeD0X88SHPyX2xY-pQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/averiaseriflibre/v19/neIVzD2ms4wxr6GvjeD0X88SHPyX2xYGGS6qwQ.ttf) format('truetype');
}
