@font-face {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/azeretmono/v21/3XF_ErsiyJsY9O_Gepph-HHkf_fUKCzX1EOKVLaJkbye.ttf) format('truetype');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/azeretmono/v21/3XF_ErsiyJsY9O_Gepph-HHkf_fUKCzX1EOKVLZulrye.ttf) format('truetype');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/azeretmono/v21/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPVh0g.ttf) format('truetype');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/azeretmono/v21/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfe_Jh0g.ttf) format('truetype');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/azeretmono/v21/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfHPJh0g.ttf) format('truetype');
}
