@font-face {
  font-family: 'B612';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/b612/v13/3Jn8SDDxiSz36juyHA.ttf) format('truetype');
}
@font-face {
  font-family: 'B612';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/b612/v13/3Jn_SDDxiSz36juKoDWBSQ.ttf) format('truetype');
}
@font-face {
  font-family: 'B612';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/b612/v13/3JnySDDxiSz32jk.ttf) format('truetype');
}
@font-face {
  font-family: 'B612';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/b612/v13/3Jn9SDDxiSz34oWXPDA.ttf) format('truetype');
}
