@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/baloochettan2/v23/vm8hdRbmXEva26PK-NtuX4ynWEzF69-L4gqgkIL5CeKTO1o.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/baloochettan2/v23/vm8hdRbmXEva26PK-NtuX4ynWEzF69-L4gqgkIL5CQWUO1o.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/baloochettan2/v23/vm8hdRbmXEva26PK-NtuX4ynWEzF69-L4gqgkIL5CWKUO1o.ttf) format('truetype');
}
