@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/baloobhaina2/v29/qWc-B6yyq4P9Adr3RtoX1q6ySgbwusXwJjkOS-XEssPvRQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/baloobhaina2/v29/qWc-B6yyq4P9Adr3RtoX1q6ySgbwusXwJjkOS-XEVcTvRQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/baloobhaina2/v29/qWc-B6yyq4P9Adr3RtoX1q6ySgbwusXwJjkOS-XEMsTvRQ.ttf) format('truetype');
}
