@font-face {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/baloobhai2/v30/sZlWdRSL-z1VEWZ4YNA7Y5ItevYWUOHDE8FvNighMXc.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/baloobhai2/v30/sZlWdRSL-z1VEWZ4YNA7Y5ItevYWUOHDE8FvNs8mMXc.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Bhai 2';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/baloobhai2/v30/sZlWdRSL-z1VEWZ4YNA7Y5ItevYWUOHDE8FvNqgmMXc.ttf) format('truetype');
}
