@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/baloothambi2/v22/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKzcIzaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/baloothambi2/v22/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKKsUzaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/baloothambi2/v22/cY9RfjeOW0NHpmOQXranrbDyu5JMJmNp-aDvUBbKTcUzaQ.ttf) format('truetype');
}
