@font-face {
  font-family: 'Baloo Tamma 2';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/balootamma2/v20/vEFE2_hCAgcR46PaajtrYlBbVUMUJgIC5LHTrMscPp-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Tamma 2';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/balootamma2/v20/vEFE2_hCAgcR46PaajtrYlBbVUMUJgIC5LHTrMv7OZ-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Tamma 2';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/balootamma2/v20/vEFE2_hCAgcR46PaajtrYlBbVUMUJgIC5LHTrMucOZ-0.ttf) format('truetype');
}
