@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/battambang/v26/uk-mEGe7raEw-HjkzZabDnU.ttf) format('truetype');
}
@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/battambang/v26/uk-lEGe7raEw-HjkzZabNsmMxyQ.ttf) format('truetype');
}
