@font-face {
  font-family: 'Big Shoulders Stencil Display';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/bigshouldersstencildisplay/v30/6aeZ4LS6U6pR_bp5b_t2ugOhHWFcxSGP9ttD96KCb8xPytKb-oPRU-vkuLm_O0jPKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Stencil Display';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/bigshouldersstencildisplay/v30/6aeZ4LS6U6pR_bp5b_t2ugOhHWFcxSGP9ttD96KCb8xPytKb-oPRU-vkuLm_3E_PKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Stencil Display';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/bigshouldersstencildisplay/v30/6aeZ4LS6U6pR_bp5b_t2ugOhHWFcxSGP9ttD96KCb8xPytKb-oPRU-vkuLm_u0_PKA.ttf) format('truetype');
}
