@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/bigshouldersstenciltext/v28/5aUV9-i2oxDMNwY3dHfW7UAt3Q453SM15wNj53bCcab2SJYLLUtk1OGR04TIGQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/bigshouldersstenciltext/v28/5aUV9-i2oxDMNwY3dHfW7UAt3Q453SM15wNj53bCcab2SJYLLUtk1OGRNIPIGQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Stencil Text';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/bigshouldersstenciltext/v28/5aUV9-i2oxDMNwY3dHfW7UAt3Q453SM15wNj53bCcab2SJYLLUtk1OGRU4PIGQ.ttf) format('truetype');
}
