@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/bigshouldersinlinetext/v28/vm8XdQDmVECV5-vm5dJ-Tp-6WDeRjL4RV7dP8u-NMyHY74qpoNNcwga0y6GN.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/bigshouldersinlinetext/v28/vm8XdQDmVECV5-vm5dJ-Tp-6WDeRjL4RV7dP8u-NMyHY74qpoNNcwgZTzKGN.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/bigshouldersinlinetext/v28/vm8XdQDmVECV5-vm5dJ-Tp-6WDeRjL4RV7dP8u-NMyHY74qpoNNcwgY0zKGN.ttf) format('truetype');
}
