@font-face {
  font-family: 'Big Shoulders Text';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/bigshoulderstext/v28/55xEezRtP9G3CGPIf49hxc8P0eytUxB2l66LmF6xc3kA3Y-q3TI.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Text';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/bigshoulderstext/v28/55xEezRtP9G3CGPIf49hxc8P0eytUxB2l66LmF6xc3kA3Wit3TI.ttf) format('truetype');
}
@font-face {
  font-family: 'Big Shoulders Text';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/bigshoulderstext/v28/55xEezRtP9G3CGPIf49hxc8P0eytUxB2l66LmF6xc3kA3Q-t3TI.ttf) format('truetype');
}
