@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/biorhymeexpanded/v23/i7dQIE1zZzytGswgU577CDY9LjbffySU.ttf) format('truetype');
}
@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/biorhymeexpanded/v23/i7dVIE1zZzytGswgU577CDY9LjbffxwoalSH.ttf) format('truetype');
}
@font-face {
  font-family: 'BioRhyme Expanded';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/biorhymeexpanded/v23/i7dVIE1zZzytGswgU577CDY9Ljbffxw0aVSH.ttf) format('truetype');
}
