@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/biryani/v15/hv-WlzNxIFoO84YdTUw.ttf) format('truetype');
}
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/biryani/v15/hv-TlzNxIFoO84YddfA2GTA.ttf) format('truetype');
}
@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/biryani/v15/hv-TlzNxIFoO84Yddew1GTA.ttf) format('truetype');
}
