@font-face {
  font-family: 'BIZ UDGothic';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/bizudgothic/v12/daafSTouBF7RUjnbt8p3LuKttQ.ttf) format('truetype');
}
@font-face {
  font-family: 'BIZ UDGothic';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/bizudgothic/v12/daaASTouBF7RUjnbt8p3LuKVCSxZ-w.ttf) format('truetype');
}
