@font-face {
  font-family: 'BIZ UDPGothic';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/bizudpgothic/v15/hES36X5pHAIBjmS84VL0Bue83nU.ttf) format('truetype');
}
@font-face {
  font-family: 'BIZ UDPGothic';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/bizudpgothic/v15/hESq6X5pHAIBjmS84VL0Bue85skjZWE.ttf) format('truetype');
}
