@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/brawler/v20/xn7gYHE3xXewAscGsgA.ttf) format('truetype');
}
@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/brawler/v20/xn7lYHE3xXewAscGiryUb90.ttf) format('truetype');
}
