@font-face {
  font-family: 'Brygada 1918';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/brygada1918/v27/pe06MI6eKpdGqlF5LANrM--qAeRhe6D4yip43qfcERwcvw.ttf) format('truetype');
}
@font-face {
  font-family: 'Brygada 1918';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/brygada1918/v27/pe06MI6eKpdGqlF5LANrM--qAeRhe6D4yip43qfc9hscvw.ttf) format('truetype');
}
@font-face {
  font-family: 'Brygada 1918';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/brygada1918/v27/pe08MI6eKpdGqlF5LANrM--ACNaeo8mTUIR_y2-f-V8.ttf) format('truetype');
}
@font-face {
  font-family: 'Brygada 1918';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/brygada1918/v27/pe08MI6eKpdGqlF5LANrM--ACNaeo8mTUIR_y4iY-V8.ttf) format('truetype');
}
