@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/buenard/v22/OD5cuM6Cyma8FnnsJTzfWLAhv7i92sqpK0_3.ttf) format('truetype');
}
@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/buenard/v22/OD5cuM6Cyma8FnnsJTzfWLAhv7i92spOLE_3.ttf) format('truetype');
}
