@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/cabincondensed/v21/nwpMtK6mNhBK2err_hqkYhHRqmwaYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/cabincondensed/v21/nwpJtK6mNhBK2err_hqkYhHRqmwi3Mf97A.ttf) format('truetype');
}
