@font-face {
  font-family: 'Chakra Petch';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/chakrapetch/v13/cIfkMapbsEk7TDLdtEz1BwkWmqpl.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/chakrapetch/v13/cIfnMapbsEk7TDLdtEz1BwkWmpLZRZ_A.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/chakrapetch/v13/cIf6MapbsEk7TDLdtEz1BwkmmA.ttf) format('truetype');
}
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/chakrapetch/v13/cIflMapbsEk7TDLdtEz1BwkeJI9FQA.ttf) format('truetype');
}
