@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/changa/v29/2-c79JNi2YuVOUcOarRPgnNGooxCZ62xQjA.ttf) format('truetype');
}
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/changa/v29/2-c79JNi2YuVOUcOarRPgnNGooxCZ0q2QjA.ttf) format('truetype');
}
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/changa/v29/2-c79JNi2YuVOUcOarRPgnNGooxCZy22QjA.ttf) format('truetype');
}
