@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/charmonman/v20/MjQDmiR3vP_nuxDv47jiWJE.ttf) format('truetype');
}
@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/charmonman/v20/MjQAmiR3vP_nuxDv47jiYC2HmL8.ttf) format('truetype');
}
