@font-face {
  font-family: 'Chathura';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/chathura/v22/_gP71R7-rzUuVjim418g.ttf) format('truetype');
}
@font-face {
  font-family: 'Chathura';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/chathura/v22/_gP81R7-rzUuVjim42ecjmSx.ttf) format('truetype');
}
@font-face {
  font-family: 'Chathura';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/chathura/v22/_gP81R7-rzUuVjim42eAjWSx.ttf) format('truetype');
}
