@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/cherryswash/v22/i7dNIFByZjaNAMxtZcnfAy58QA.ttf) format('truetype');
}
@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/cherryswash/v22/i7dSIFByZjaNAMxtZcnfAy5E_FeaGw.ttf) format('truetype');
}
