@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/corben/v23/LYjDdGzzklQtCMp9oA.ttf) format('truetype');
}
@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/corben/v23/LYjAdGzzklQtCMpFHCZgrQ.ttf) format('truetype');
}
