@font-face {
  font-family: 'Corinthia';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/corinthia/v13/wEO_EBrAnchaJyPMHE0FUQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Corinthia';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/corinthia/v13/wEO6EBrAnchaJyPMHE097d8v1A.ttf) format('truetype');
}
