@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/cormorantupright/v19/VuJrdM3I2Y35poFONtLdafkUCHw1y2vV.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/cormorantupright/v19/VuJudM3I2Y35poFONtLdafkUCHw1y1NpoRDs.ttf) format('truetype');
}
