@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/cormorantinfant/v22/Hhy8U44g9vKiM1sORYSiWeAsLN997_IP1zv1ljKnOa3nIw3Qjj0.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/cormorantinfant/v22/Hhy8U44g9vKiM1sORYSiWeAsLN997_IP1zv1ljKnOa3nI-rXjj0.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/cormorantinfant/v22/HhyCU44g9vKiM1sORYSiWeAsLN99xfs9KOOc_agJPrgvYOWT.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/cormorantinfant/v22/HhyCU44g9vKiM1sORYSiWeAsLN99xfs9KOOc_agJPrjIZ-WT.ttf) format('truetype');
}
