@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/cormorantsc/v19/0yb5GD4kxqXBmOVLG30OGwserA.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/cormorantsc/v19/0ybmGD4kxqXBmOVLG30OGwsmEBUU_Q.ttf) format('truetype');
}
