@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/cormorantunicase/v25/HI_QiZUaILtOqhqgDeXoF_n1_fTGX-vT.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/cormorantunicase/v25/HI_ViZUaILtOqhqgDeXoF_n1_fTGX9Nvsecv.ttf) format('truetype');
}
