@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/cousine/v29/d6lKkaiiRdih4SpP_SEvyQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/cousine/v29/d6lPkaiiRdih4SpP_SEXdTvM1w.ttf) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/cousine/v29/d6lIkaiiRdih4SpPzSM.ttf) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/cousine/v29/d6lNkaiiRdih4SpP9Z8K6T4.ttf) format('truetype');
}
