@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/darkergrotesque/v10/U9MK6cuh-mLQlC4BKCtayOfARkSVgb381b-W8-QDqXw3qn7y.ttf) format('truetype');
}
@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/darkergrotesque/v10/U9MK6cuh-mLQlC4BKCtayOfARkSVgb381b-W8-QDqXzQrX7y.ttf) format('truetype');
}
@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/darkergrotesque/v10/U9MK6cuh-mLQlC4BKCtayOfARkSVgb381b-W8-QDqXy3rX7y.ttf) format('truetype');
}
