@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/davidlibre/v17/snfus0W_99N64iuYSvp4W_l8.ttf) format('truetype');
}
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/davidlibre/v17/snfzs0W_99N64iuYSvp4W8HAxbqb.ttf) format('truetype');
}
