@font-face {
  font-family: 'Delius Unicase';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/deliusunicase/v30/845BNMEwEIOVT8BmgfSzIr_6mmLH.ttf) format('truetype');
}
@font-face {
  font-family: 'Delius Unicase';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/deliusunicase/v30/845CNMEwEIOVT8BmgfSzIr_6mlp7WMr_.ttf) format('truetype');
}
