@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/domine/v25/L0xhDFMnlVwD4h3Lt9JWnbX3jG-2X3LAI10.ttf) format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/domine/v25/L0xhDFMnlVwD4h3Lt9JWnbX3jG-2X5XHI10.ttf) format('truetype');
}
