@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/dongle/v16/sJoF3Ltdjt6VPkqmvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/dongle/v16/sJoG3Ltdjt6VPkqeActrYg.ttf) format('truetype');
}
