@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/eczar/v27/BXR2vF3Pi-DLmxcpJB-qbNTyTMDXHd6WqQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/eczar/v27/BXR2vF3Pi-DLmxcpJB-qbNTyTMDX-tmWqQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/eczar/v27/BXR2vF3Pi-DLmxcpJB-qbNTyTMDXndmWqQ.ttf) format('truetype');
}
