@font-face {
  font-family: 'Edu VIC WA NT Beginner';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/eduvicwantbeginner/v6/jiz2RF1BuW9OwcnNPxLl4KfZCHd9nFtd5Tu7stCpElYpvPfZZ-OXlPmF.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu VIC WA NT Beginner';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/eduvicwantbeginner/v6/jiz2RF1BuW9OwcnNPxLl4KfZCHd9nFtd5Tu7stCpElYpvPfZZ-Nwk_mF.ttf) format('truetype');
}
