@font-face {
  font-family: 'Edu QLD Beginner';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/eduqldbeginner/v5/AMOHz5iUuHLEMNXyohhc_Y56PR3A8dNLF_w3Ka4HKE4E3oeb.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu QLD Beginner';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/eduqldbeginner/v5/AMOHz5iUuHLEMNXyohhc_Y56PR3A8dNLF_w3Ka4HKE7j2Yeb.ttf) format('truetype');
}
