@font-face {
  font-family: 'Edu TAS Beginner';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/edutasbeginner/v5/ZXuwe04WubHfGVY-1TcNg7AFUmshg8jIUTzK3r34f_Hwemkr.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu TAS Beginner';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/edutasbeginner/v5/ZXuwe04WubHfGVY-1TcNg7AFUmshg8jIUTzK3r34f_EXfWkr.ttf) format('truetype');
}
