@font-face {
  font-family: 'Edu SA Beginner';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/edusabeginner/v5/rnC_-xRb1x-1lHXnLaZZ2xOoLIGfU3L82irpr_3C9989fo0.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu SA Beginner';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/edusabeginner/v5/rnC_-xRb1x-1lHXnLaZZ2xOoLIGfU3L82irpr_3C9zg6fo0.ttf) format('truetype');
}
