@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/elmessiri/v25/K2FhfZBRmr9vQ1pHEey6GIGo8_pv3myYjuXwe65g.ttf) format('truetype');
}
@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/elmessiri/v25/K2FhfZBRmr9vQ1pHEey6GIGo8_pv3myYjuUXfK5g.ttf) format('truetype');
}
