@font-face {
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/encodesanssemiexpanded/v20/ke83OhAPMEZs-BDuzwftTNJ85JvwMOzE9d9Cca5TC4o.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/encodesanssemiexpanded/v20/ke8yOhAPMEZs-BDuzwftTNJ85JvwMOzE9d9Cca5TMzYQCyA.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/encodesanssemiexpanded/v20/ke8yOhAPMEZs-BDuzwftTNJ85JvwMOzE9d9Cca5TMyoTCyA.ttf) format('truetype');
}
