@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/encodesanscondensed/v11/j8_16_LD37rqfuwxyIuaZhE6cRXOLtm2gfTGgQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/encodesanscondensed/v11/j8_46_LD37rqfuwxyIuaZhE6cRXOLtm2gfT-PYqpBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/encodesanscondensed/v11/j8_46_LD37rqfuwxyIuaZhE6cRXOLtm2gfT-IYmpBw.ttf) format('truetype');
}
