@font-face {
  font-family: 'Encode Sans SC';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(files/s/encodesanssc/v14/jVyp7nLwCGzQ9zE7ZyRg0QRXHPZc_uUA6Kb3VJWLE_Pdtm7lcD6qvXT1HHhm8c8.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans SC';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(files/s/encodesanssc/v14/jVyp7nLwCGzQ9zE7ZyRg0QRXHPZc_uUA6Kb3VJWLE_Pdtm7lcD6qvXT1HJ9h8c8.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans SC';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(files/s/encodesanssc/v14/jVyp7nLwCGzQ9zE7ZyRg0QRXHPZc_uUA6Kb3VJWLE_Pdtm7lcD6qvXT1HPhh8c8.ttf) format('truetype');
}
