@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/enriqueta/v19/goksH6L7AUFrRvV44HVTSw.ttf) format('truetype');
}
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/enriqueta/v19/gokpH6L7AUFrRvV44HVr92-HmA.ttf) format('truetype');
}
