@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/fahkwang/v18/Noa36Uj3zpmBOgbNpOqNuLk.ttf) format('truetype');
}
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/fahkwang/v18/Noa06Uj3zpmBOgbNpOqNgAVUHC4.ttf) format('truetype');
}
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/fahkwang/v18/Noax6Uj3zpmBOgbNpNqP.ttf) format('truetype');
}
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/fahkwang/v18/Noa26Uj3zpmBOgbNpOIznZlR.ttf) format('truetype');
}
