@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/farro/v15/i7dEIFl3byGNHZVN.ttf) format('truetype');
}
@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/farro/v15/i7dJIFl3byGNHa3xM56-.ttf) format('truetype');
}
