@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/firamono/v16/N0bX2SlFPv1weGeLZDtQIQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/firamono/v16/N0bS2SlFPv1weGeLZDtondv3mQ.ttf) format('truetype');
}
