@font-face {
  font-family: 'Fuzzy Bubbles';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/fuzzybubbles/v9/6qLGKZMbrgv9pwtjPEVNV0F2NnM.ttf) format('truetype');
}
@font-face {
  font-family: 'Fuzzy Bubbles';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/fuzzybubbles/v9/6qLbKZMbrgv9pwtjPEVNV0F2Ds_WQxM.ttf) format('truetype');
}
