@font-face {
  font-family: 'Gaegu';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gaegu/v23/TuGfUVB6Up9NU6ZL.ttf) format('truetype');
}
@font-face {
  font-family: 'Gaegu';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gaegu/v23/TuGSUVB6Up9NU573jvw7.ttf) format('truetype');
}
