@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/gantari/v4/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoedWzYZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/gantari/v4/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeTK0YZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gantari/v4/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g0gOj3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gantari/v4/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g3HPT3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/gantari/v4/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g2gPT3w.ttf) format('truetype');
}
