@font-face {
  font-family: 'Gayathri';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gayathri/v20/MCoQzAb429DbBilWLIA4.ttf) format('truetype');
}
@font-face {
  font-family: 'Gayathri';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gayathri/v20/MCoXzAb429DbBilWLLiE37v4.ttf) format('truetype');
}
