@font-face {
  font-family: 'Gemunu Libre';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gemunulibre/v18/X7n34bQ6Cfy7jKGXVE_YlqnbEQAFP-PIuTCp0xiJPvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Gemunu Libre';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gemunulibre/v18/X7n34bQ6Cfy7jKGXVE_YlqnbEQAFP-PIuTCp0_-OPvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Gemunu Libre';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/gemunulibre/v18/X7n34bQ6Cfy7jKGXVE_YlqnbEQAFP-PIuTCp05iOPvQ.ttf) format('truetype');
}
