@font-face {
  font-family: 'Gentium Book Plus';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/gentiumbookplus/v1/vEFN2-RHBgUK5fbjKxRpbBtJPyRpocKdf7Y.ttf) format('truetype');
}
@font-face {
  font-family: 'Gentium Book Plus';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/gentiumbookplus/v1/vEFA2-RHBgUK5fbjKxRpbBtJPyRpocKdRwrDjMs.ttf) format('truetype');
}
@font-face {
  font-family: 'Gentium Book Plus';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gentiumbookplus/v1/vEFL2-RHBgUK5fbjKxRpbBtJPyRpofKf.ttf) format('truetype');
}
@font-face {
  font-family: 'Gentium Book Plus';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gentiumbookplus/v1/vEFO2-RHBgUK5fbjKxRpbBtJPyRpocojWpbG.ttf) format('truetype');
}
