@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/glegoo/v17/_Xmt-HQyrTKWaw2Jiw.ttf) format('truetype');
}
@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/glegoo/v17/_Xmu-HQyrTKWaw2xN4a9CA.ttf) format('truetype');
}
