@font-face {
  font-family: 'Glory';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/glory/v18/q5uYsoi9Lf1w5vfNgCJg98TBOoNFCMpr5XWZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Glory';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/glory/v18/q5uYsoi9Lf1w5vfNgCJg98TBOoNFCMqM4nWZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Glory';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/glory/v18/q5uasoi9Lf1w5t3Est24nq9blIRQwImDpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Glory';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/glory/v18/q5uasoi9Lf1w5t3Est24nq9blIRQJ46Dpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Glory';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/glory/v18/q5uasoi9Lf1w5t3Est24nq9blIRQQI6Dpg.ttf) format('truetype');
}
