@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gluten/v18/Hhy_U5gk9fW7OUdVIPh2zD_RSqQJ__A15jgJsn-Bhb_yI8Vb7R1L.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gluten/v18/Hhy_U5gk9fW7OUdVIPh2zD_RSqQJ__A15jgJsn-Bhb_yI8W86h1L.ttf) format('truetype');
}
@font-face {
  font-family: 'Gluten';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/gluten/v18/Hhy_U5gk9fW7OUdVIPh2zD_RSqQJ__A15jgJsn-Bhb_yI8Xb6h1L.ttf) format('truetype');
}
