@font-face {
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/goldman/v21/pe0uMIWbN4JFplR2LDI.ttf) format('truetype');
}
@font-face {
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/goldman/v21/pe0rMIWbN4JFplR2FI5XItc.ttf) format('truetype');
}
