@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gorditas/v24/ll8_K2aTVD26DsPEtQDo.ttf) format('truetype');
}
@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gorditas/v24/ll84K2aTVD26DsPEtThUIooI.ttf) format('truetype');
}
