@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gowunbatang/v12/ijwSs5nhRMIjYsdSgcMa3wRhXA.ttf) format('truetype');
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gowunbatang/v12/ijwNs5nhRMIjYsdSgcMa3wRZ4J7awg.ttf) format('truetype');
}
