@font-face {
  font-family: 'Grenze';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/grenze/v16/O4ZRFGb7hR12BxqH_WIj.ttf) format('truetype');
}
@font-face {
  font-family: 'Grenze';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/grenze/v16/O4ZWFGb7hR12BxqH_Vqfly0S.ttf) format('truetype');
}
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/grenze/v16/O4ZTFGb7hR12Bxq3_w.ttf) format('truetype');
}
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/grenze/v16/O4ZQFGb7hR12BxqPQ0cDkg.ttf) format('truetype');
}
@font-face {
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/grenze/v16/O4ZQFGb7hR12BxqPX0QDkg.ttf) format('truetype');
}
