@font-face {
  font-family: 'Grenze Gotisch';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/grenzegotisch/v20/Fh4hPjjqNDz1osh_jX9YfjudpBJBNV5y5wf_k1i5Lz9UcA.ttf) format('truetype');
}
@font-face {
  font-family: 'Grenze Gotisch';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/grenzegotisch/v20/Fh4hPjjqNDz1osh_jX9YfjudpBJBNV5y5wf_k1i5yDhUcA.ttf) format('truetype');
}
@font-face {
  font-family: 'Grenze Gotisch';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/grenzegotisch/v20/Fh4hPjjqNDz1osh_jX9YfjudpBJBNV5y5wf_k1i5rzhUcA.ttf) format('truetype');
}
