@font-face {
  font-family: 'Gupter';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gupter/v18/2-cm9JNmxJqPO1QUYQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Gupter';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gupter/v18/2-cl9JNmxJqPO1Qs3bmbUg.ttf) format('truetype');
}
