@font-face {
  font-family: 'Gwendolyn';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/gwendolyn/v9/qkBXXvoO_M3CSss-d7ee5A.ttf) format('truetype');
}
@font-face {
  font-family: 'Gwendolyn';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/gwendolyn/v9/qkBSXvoO_M3CSss-d7emWLtvmA.ttf) format('truetype');
}
