@font-face {
  font-family: 'Hahmlet';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/hahmlet/v21/BngXUXpCQ3nKpIo0TfPyfCdXfaeU4RhKONjo.ttf) format('truetype');
}
@font-face {
  font-family: 'Hahmlet';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/hahmlet/v21/BngXUXpCQ3nKpIo0TfPyfCdXfaeU4RitP9jo.ttf) format('truetype');
}
@font-face {
  font-family: 'Hahmlet';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/hahmlet/v21/BngXUXpCQ3nKpIo0TfPyfCdXfaeU4RjKP9jo.ttf) format('truetype');
}
