@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/halant/v17/u-4-0qaujRI2PbsX3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/halant/v17/u-490qaujRI2PbsvY_1Cmw.ttf) format('truetype');
}
