@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/hanuman/v24/VuJudNvD15HhpJJBYq31yFn72hxIv0sd5xDs.ttf) format('truetype');
}
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/hanuman/v24/VuJudNvD15HhpJJBYq31yFn72hxIv0v64BDs.ttf) format('truetype');
}
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/hanuman/v24/VuJudNvD15HhpJJBYq31yFn72hxIv0ud4BDs.ttf) format('truetype');
}
