@font-face {
  font-family: 'Harmattan';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/harmattan/v24/goksH6L2DkFvVvRp9XpTSw.ttf) format('truetype');
}
@font-face {
  font-family: 'Harmattan';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/harmattan/v24/gokpH6L2DkFvVvRp9Xpr92-HmA.ttf) format('truetype');
}
