@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/heptaslab/v25/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvkV5zfb.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/heptaslab/v25/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5Hvny4Dfb.ttf) format('truetype');
}
@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/heptaslab/v25/ea8JadoyU_jkHdalebHvyWVNdYoIsHe5HvmV4Dfb.ttf) format('truetype');
}
