@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/hindvadodara/v16/neINzCKvrIcn5pbuuuriV9tTcJU.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/hindvadodara/v16/neIQzCKvrIcn5pbuuuriV9tTSCnwiXM.ttf) format('truetype');
}
