@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/hind/v18/5aU69_a8oxmIRG4.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/hind/v18/5aU19_a8oxmIfNJdIRs.ttf) format('truetype');
}
