@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/hindmadurai/v13/f0Xx0e2p98ZvDXdZQIOcpqjn8Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/hindmadurai/v13/f0Xu0e2p98ZvDXdZQIOcpqjfTaIneQ.ttf) format('truetype');
}
