@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/ibarrarealnova/v30/sZlsdQiA-DBIDCcaWtQzL4BZHoiDkH5CH9yb5n3ZFmKopyiuXzs.ttf) format('truetype');
}
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/ibarrarealnova/v30/sZlsdQiA-DBIDCcaWtQzL4BZHoiDkH5CH9yb5n3ZFmKop8-pXzs.ttf) format('truetype');
}
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/ibarrarealnova/v30/sZlSdQiA-DBIDCcaWtQzL4BZHoiDundw4ATyjed3EXdg5MDt.ttf) format('truetype');
}
@font-face {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/ibarrarealnova/v30/sZlSdQiA-DBIDCcaWtQzL4BZHoiDundw4ATyjed3EXeH48Dt.ttf) format('truetype');
}
