@font-face {
  font-family: 'Imbue';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/imbue/v29/RLpXK5P16Ki3fXhj5cvGrqjocPk4n-gVX3M93TnrnvhoP8iXfOs.ttf) format('truetype');
}
@font-face {
  font-family: 'Imbue';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/imbue/v29/RLpXK5P16Ki3fXhj5cvGrqjocPk4n-gVX3M93TnrnvhoPy-QfOs.ttf) format('truetype');
}
@font-face {
  font-family: 'Imbue';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/imbue/v29/RLpXK5P16Ki3fXhj5cvGrqjocPk4n-gVX3M93TnrnvhoP0iQfOs.ttf) format('truetype');
}
