@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/inika/v22/rnCm-x5X3QP-phTH.ttf) format('truetype');
}
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/inika/v22/rnCr-x5X3QP-pix7auM-.ttf) format('truetype');
}
