@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/istokweb/v26/3qTpojGmgSyUukBzKslpA2t6.ttf) format('truetype');
}
@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/istokweb/v26/3qT0ojGmgSyUukBzKslpA1PG-2MQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/istokweb/v26/3qTvojGmgSyUukBzKslZAQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/istokweb/v26/3qTqojGmgSyUukBzKslhvU5a_g.ttf) format('truetype');
}
