@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/jaldi/v14/or3sQ67z0_CI30NU.ttf) format('truetype');
}
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/jaldi/v14/or3hQ67z0_CI33voSbT3.ttf) format('truetype');
}
