@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/jura/v34/z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7auh.ttf) format('truetype');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/jura/v34/z7NOdRfiaC4Vd8hhoPzfb5vBTP266quh.ttf) format('truetype');
}
