@font-face {
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kadwa/v13/rnCm-x5V0g7iphTH.ttf) format('truetype');
}
@font-face {
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kadwa/v13/rnCr-x5V0g7ipix7auM-.ttf) format('truetype');
}
