@font-face {
  font-family: 'Kaisei Decol';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kaiseidecol/v11/bMrwmSqP45sidWf3QmfFW6iyWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaisei Decol';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kaiseidecol/v11/bMrvmSqP45sidWf3QmfFW6iK534r0w.ttf) format('truetype');
}
