@font-face {
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kaiseiopti/v11/QldKNThJphYb8_g6c2nlIFle.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kaiseiopti/v11/QldXNThJphYb8_g6c2nlIGHiw41u.ttf) format('truetype');
}
