@font-face {
  font-family: 'Kaisei HarunoUmi';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kaiseiharunoumi/v11/HI_RiZQSLqBQoAHhK_C6N_nzy_jcGss.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaisei HarunoUmi';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kaiseiharunoumi/v11/HI_WiZQSLqBQoAHhK_C6N_nzy_jcInfWlMc.ttf) format('truetype');
}
