@font-face {
  font-family: 'Kaisei Tokumin';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kaiseitokumin/v11/Gg8sN5wdZg7xCwuMsylww2ZiQkJf.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaisei Tokumin';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kaiseitokumin/v11/Gg8vN5wdZg7xCwuMsylww2ZiQnrj-Xkh.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaisei Tokumin';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/kaiseitokumin/v11/Gg8vN5wdZg7xCwuMsylww2ZiQnr_-nkh.ttf) format('truetype');
}
