@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kalam/v18/YA9dr0Wd4kDdMuhW.ttf) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kalam/v18/YA9Qr0Wd4kDdMtDqHQLL.ttf) format('truetype');
}
