@font-face {
  font-family: 'Kameron';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kameron/v18/vm8pdR7vXErQxuznqrUS3z1Uw3nq4Ne3cbcb.ttf) format('truetype');
}
@font-face {
  font-family: 'Kameron';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kameron/v18/vm8pdR7vXErQxuznqrUS3z1Uw3nq4NdQdrcb.ttf) format('truetype');
}
