@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/kantumruypro/v12/1q2RY5aECkp34vEBSPFOmJxwlEbbdY1VU_nxzRim76N3OXo.ttf) format('truetype');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/kantumruypro/v12/1q2RY5aECkp34vEBSPFOmJxwlEbbdY1VU_nxzRim70RwOXo.ttf) format('truetype');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kantumruypro/v12/1q2TY5aECkp34vEBSPFOmJxwvk_pilU8OGNfyg1urEs0.ttf) format('truetype');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kantumruypro/v12/1q2TY5aECkp34vEBSPFOmJxwvk_pilU8OGNfyg2Jq0s0.ttf) format('truetype');
}
