@font-face {
  font-family: 'Karantina';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/karantina/v13/buE0po24ccnh31GVMABJ8A.ttf) format('truetype');
}
@font-face {
  font-family: 'Karantina';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/karantina/v13/buExpo24ccnh31GVMABxTC8f-A.ttf) format('truetype');
}
