@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/karma/v18/va9I4kzAzMZRGIBv.ttf) format('truetype');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/karma/v18/va9F4kzAzMZRGLjTZMZ_.ttf) format('truetype');
}
