@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/khand/v22/TwMA-IINQlQQ0YpV.ttf) format('truetype');
}
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/khand/v22/TwMN-IINQlQQ0bLpd1E3.ttf) format('truetype');
}
