@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/khula/v17/OpNCnoEOns3V7FcJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/khula/v17/OpNPnoEOns3V7G-1iyvU.ttf) format('truetype');
}
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/khula/v17/OpNPnoEOns3V7G-piCvU.ttf) format('truetype');
}
