@font-face {
  font-family: 'Koh Santepheap';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kohsantepheap/v15/gNMdW3p6SJbwyGj2rBZyeOrTjOPh.ttf) format('truetype');
}
@font-face {
  font-family: 'Koh Santepheap';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kohsantepheap/v15/gNMeW3p6SJbwyGj2rBZyeOrTjNtdOHy5.ttf) format('truetype');
}
