@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kreon/v40/t5t9IRIUKY-TFF_LW5lnMR3v2DnvYtimeg.ttf) format('truetype');
}
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kreon/v40/t5t9IRIUKY-TFF_LW5lnMR3v2Dnvhd-meg.ttf) format('truetype');
}
