@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/kumbhsans/v27/c4mP1n92AsfhuCq6tVsaoIx1LQICk0boNoq0SjlDfnzKo-bF3mdQkZYA8Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/kumbhsans/v27/c4mP1n92AsfhuCq6tVsaoIx1LQICk0boNoq0SjlDfnzKo-bF3mdQdpEA8Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/kumbhsans/v27/c4mP1n92AsfhuCq6tVsaoIx1LQICk0boNoq0SjlDfnzKo-bF3mdQEZEA8Q.ttf) format('truetype');
}
