@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/laila/v20/LYjMdG_8nE8jDIRd.ttf) format('truetype');
}
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/laila/v20/LYjBdG_8nE8jDLzhpQNA.ttf) format('truetype');
}
