@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/lato/v25/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/lato/v25/S6u_w4BMUTPHjxsI5wqPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lato/v25/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lato/v25/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
