@font-face {
  font-family: 'Lemonada';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lemonada/v31/0QI-MXFD9oygTWy_R-FFlwV-bgfR7QJGeut2mQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lemonada';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lemonada/v31/0QI-MXFD9oygTWy_R-FFlwV-bgfR7QJGnex2mQ.ttf) format('truetype');
}
