@font-face {
  font-family: 'Lexend Peta';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lexendpeta/v30/BXR4vFPGjeLPh0kCfI4OkFX-UTQHSCaxvBgR6SByWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Peta';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lexendpeta/v30/BXR4vFPGjeLPh0kCfI4OkFX-UTQHSCaxvBgRDidyWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Peta';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/lexendpeta/v30/BXR4vFPGjeLPh0kCfI4OkFX-UTQHSCaxvBgRaSdyWw.ttf) format('truetype');
}
