@font-face {
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lexendgiga/v27/PlIuFl67Mah5Y8yMHE7lkUZPlTBo4MWFfNRC2LiE6w.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lexendgiga/v27/PlIuFl67Mah5Y8yMHE7lkUZPlTBo4MWFfNRCP7-E6w.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/lexendgiga/v27/PlIuFl67Mah5Y8yMHE7lkUZPlTBo4MWFfNRCWL-E6w.ttf) format('truetype');
}
