@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lexendmega/v27/qFdX35aBi5JtHD41zSTFEuTByuvYFuE9IbDL8fmvvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lexendmega/v27/qFdX35aBi5JtHD41zSTFEuTByuvYFuE9IbDLFv6vvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/lexendmega/v27/qFdX35aBi5JtHD41zSTFEuTByuvYFuE9IbDLcf6vvQ.ttf) format('truetype');
}
