@font-face {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lexendexa/v35/UMBCrPdOoHOnxExyjdBeQCH18mulUxBvI9r7TqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lexendexa/v35/UMBCrPdOoHOnxExyjdBeQCH18mulUxBvI9ocSabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/lexendexa/v35/UMBCrPdOoHOnxExyjdBeQCH18mulUxBvI9p7SabH.ttf) format('truetype');
}
