@font-face {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lexendzetta/v32/ll8uK2KYXje7CdOFnEWcU8synQbuVYjYB3BCy9bG0z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lexendzetta/v32/ll8uK2KYXje7CdOFnEWcU8synQbuVYjYB3BCyzHB0z4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/lexendzetta/v32/ll8uK2KYXje7CdOFnEWcU8synQbuVYjYB3BCy1bB0z4.ttf) format('truetype');
}
