@font-face {
  font-family: 'Life Savers';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lifesavers/v23/ZXuie1UftKKabUQMgxAal_lr.ttf) format('truetype');
}
@font-face {
  font-family: 'Life Savers';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lifesavers/v23/ZXu_e1UftKKabUQMgxAal8HXOS5T.ttf) format('truetype');
}
@font-face {
  font-family: 'Life Savers';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/lifesavers/v23/ZXu_e1UftKKabUQMgxAal8HLOi5T.ttf) format('truetype');
}
