@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/lusitana/v14/CSR84z9ShvucWzsMKxha.ttf) format('truetype');
}
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/lusitana/v14/CSR74z9ShvucWzsMKyDmaccq.ttf) format('truetype');
}
