@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mplus1/v15/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5VSa78g.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mplus1/v15/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5siG78g.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/mplus1/v15/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW51SG78g.ttf) format('truetype');
}
