@font-face {
  font-family: 'M PLUS 1 Code';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mplus1code/v16/ypvMbXOOx2xFpzmYJS3N2_J2hBN6RZ5oIp8m_7iN0HHp.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1 Code';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mplus1code/v16/ypvMbXOOx2xFpzmYJS3N2_J2hBN6RZ5oIp8m_7hq13Hp.ttf) format('truetype');
}
