@font-face {
  font-family: 'M PLUS 2';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mplus2/v15/7Auhp_Eq3gO_OGbGGhjdwrDdpeIBxlkwOa6Vxg.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 2';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mplus2/v15/7Auhp_Eq3gO_OGbGGhjdwrDdpeIBxlkw3qmVxg.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 2';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/mplus2/v15/7Auhp_Eq3gO_OGbGGhjdwrDdpeIBxlkwuamVxg.ttf) format('truetype');
}
