@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mplus1p/v32/e3tjeuShHdiFyPFzBRro-A.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mplus1p/v32/e3tmeuShHdiFyPFzBRrQRBEgew.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/mplus1p/v32/e3tmeuShHdiFyPFzBRrQWBIgew.ttf) format('truetype');
}
