@font-face {
  font-family: 'M PLUS Code Latin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(files/s/mpluscodelatin/v16/hv-ylyV-aXg7x7tULiNXXBA0Np4WMS8fDIymHY8fy8wn4_ifLAtrObKDO0Xf1EbA6i4.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS Code Latin';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(files/s/mpluscodelatin/v16/hv-ylyV-aXg7x7tULiNXXBA0Np4WMS8fDIymHY8fy8wn4_ifLAtrObKDO0Xf1KHH6i4.ttf) format('truetype');
}
