@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mada/v21/7Aulp_0qnzeSVz7u3PJLcUMYOFnOkHkw.ttf) format('truetype');
}
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mada/v21/7Aulp_0qnzeSVz7u3PJLcUMYOFkpl3kw.ttf) format('truetype');
}
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/mada/v21/7Aulp_0qnzeSVz7u3PJLcUMYOFlOl3kw.ttf) format('truetype');
}
