@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/magra/v15/uK_94ruaZus72k5x.ttf) format('truetype');
}
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/magra/v15/uK_w4ruaZus72nbNDxcX.ttf) format('truetype');
}
