@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/maitree/v11/MjQGmil5tffhpBrkrtk.ttf) format('truetype');
}
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/maitree/v11/MjQDmil5tffhpBrklmWJWJE.ttf) format('truetype');
}
