@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/manjari/v14/k3kQo8UPMOBO2w1UTd4.ttf) format('truetype');
}
@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/manjari/v14/k3kVo8UPMOBO2w1UdWLNC0E.ttf) format('truetype');
}
