@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/markazitext/v28/sykh-ydym6AtQaiEtX7yhqb_rV1k_81ZVYYZtfSQT4M.ttf) format('truetype');
}
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/markazitext/v28/sykh-ydym6AtQaiEtX7yhqb_rV1k_81ZVYYZtROXT4M.ttf) format('truetype');
}
