@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/martel/v12/PN_xRfK9oXHga0XtYQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/martel/v12/PN_yRfK9oXHga0XV3e0ahQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/martel/v12/PN_yRfK9oXHga0XVwe4ahQ.ttf) format('truetype');
}
