@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/martelsans/v14/h0GsssGi7VdzDgKjM-4d8ijf.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/martelsans/v14/h0GxssGi7VdzDgKjM-4d8hBj4suH.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/martelsans/v14/h0GxssGi7VdzDgKjM-4d8hB_4cuH.ttf) format('truetype');
}
