@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/merienda/v22/gNMaW3x8Qoy5_mf8uUkJGHtiYXjmKFy5enhoSQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/merienda/v22/gNMaW3x8Qoy5_mf8uUkJGHtiYXjmKFy5nX9oSQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/merienda/v22/gNMaW3x8Qoy5_mf8uUkJGHtiYXjmKFy5-n9oSQ.ttf) format('truetype');
}
