@font-face {
  font-family: 'Mina';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mina/v14/-nFzOGc18vARrz8.ttf) format('truetype');
}
@font-face {
  font-family: 'Mina';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mina/v14/-nF8OGc18vARl4NMyiU.ttf) format('truetype');
}
