@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/miriamlibre/v19/DdT0798HsHwubBAqfkcBTL_1a7sPlXcE8PJjH9P3k9s.ttf) format('truetype');
}
@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/miriamlibre/v19/DdT0798HsHwubBAqfkcBTL_1a7sPlXcE8PJjHzTwk9s.ttf) format('truetype');
}
