@font-face {
  font-family: 'Mirza';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mirza/v19/co3ImWlikiN5Eurd.ttf) format('truetype');
}
@font-face {
  font-family: 'Mirza';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mirza/v19/co3FmWlikiN5EtJhB-O4.ttf) format('truetype');
}
