@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mitr/v13/pxiLypw5ucZFyTs.ttf) format('truetype');
}
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mitr/v13/pxiEypw5ucZF8YcdFJA.ttf) format('truetype');
}
