@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/monda/v19/TK3-WkYFABsmjuBtFuvTIFRAPpWsH3oMoQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/monda/v19/TK3-WkYFABsmjuBtFuvTIFRAPpWs-H0MoQ.ttf) format('truetype');
}
