@font-face {
  font-family: 'Montagu Slab';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/montaguslab/v17/6qLhKZIQtB_zv0xUaXRDWkY_HXsphdLRZF40vm_jzR2jhk_n3T6ACkDbEnP9.ttf) format('truetype');
}
@font-face {
  font-family: 'Montagu Slab';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/montaguslab/v17/6qLhKZIQtB_zv0xUaXRDWkY_HXsphdLRZF40vm_jzR2jhk_n3T6ACkA8FXP9.ttf) format('truetype');
}
