@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/montserratsubrayada/v22/U9MD6c-o9H7PgjlTHThBnNHGVUORwteQQE8L.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/montserratsubrayada/v22/U9MM6c-o9H7PgjlTHThBnNHGVUORwteQQHe3TcMW.ttf) format('truetype');
}
