@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/muktavaani/v15/3Jn5SD_-ynaxmxnEfVHPIF0F.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/muktavaani/v15/3JnkSD_-ynaxmxnEfVHPIGW5U8BD.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/muktavaani/v15/3JnkSD_-ynaxmxnEfVHPIGWlUMBD.ttf) format('truetype');
}
