@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/muktamalar/v14/MCoXzAXyz8LOE2FpJMxZqLv4.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/muktamalar/v14/MCoKzAXyz8LOE2FpJMxZqINEAtAB.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/muktamalar/v14/MCoKzAXyz8LOE2FpJMxZqINYAdAB.ttf) format('truetype');
}
