@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/mukta/v17/iJWKBXyXfDDVXYnG.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/mukta/v17/iJWHBXyXfDDVXbF6iFma.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/mukta/v17/iJWHBXyXfDDVXbFmi1ma.ttf) format('truetype');
}
