@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/muktamahee/v19/XRXQ3IOIi0hcP8iVU67hA-vN.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/muktamahee/v19/XRXN3IOIi0hcP8iVU67hA9NxdBoH.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/muktamahee/v19/XRXN3IOIi0hcP8iVU67hA9NtdxoH.ttf) format('truetype');
}
