@font-face {
  font-family: 'Murecho';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/murecho/v17/q5uYsoq3NOBn_I-ggCJg98TBOoNFCMpr5XWZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Murecho';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/murecho/v17/q5uYsoq3NOBn_I-ggCJg98TBOoNFCMqM4nWZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Murecho';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/murecho/v17/q5uYsoq3NOBn_I-ggCJg98TBOoNFCMrr4nWZ.ttf) format('truetype');
}
