@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/nanumgothic/v26/PN_3Rfi-oW3hYwmKDpxS7F_z_g.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/nanumgothic/v26/PN_oRfi-oW3hYwmKDpxS7F_LQv37zg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/nanumgothic/v26/PN_oRfi-oW3hYwmKDpxS7F_LXv77zg.ttf) format('truetype');
}
