@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/newscycle/v26/CSR64z1Qlv-GDxkbKVQ_TOc.ttf) format('truetype');
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/newscycle/v26/CSR54z1Qlv-GDxkbKVQ_dFsvaNM.ttf) format('truetype');
}
