@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/nokora/v34/hYkVPuwgTubzaWxKMBj_emrD9wtMuj1fcbI.ttf) format('truetype');
}
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/nokora/v34/hYkVPuwgTubzaWxKMBj_emrD9wtMutpYcbI.ttf) format('truetype');
}
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/nokora/v34/hYkVPuwgTubzaWxKMBj_emrD9wtMur1YcbI.ttf) format('truetype');
}
