@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/oleoscript/v15/rax5HieDvtMOe0iICsUccBha.ttf) format('truetype');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/oleoscript/v15/raxkHieDvtMOe0iICsUccCDmnmrY.ttf) format('truetype');
}
