@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/overpassmono/v21/_Xm5-H86tzKDdAPa-KPQZ-AC_COcRycquHlL6EXUokzz.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/overpassmono/v21/_Xm5-H86tzKDdAPa-KPQZ-AC_COcRycquHlL6EUzpUzz.ttf) format('truetype');
}
