@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/overpass/v19/qFdU35WCmI96Ajtm81GgSdXCNs-VMF0vNLADepqP.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/overpass/v19/qFdU35WCmI96Ajtm81GgSdXCNs-VMF0vNLDkfZqP.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/overpass/v19/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPrOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/overpass/v19/qFda35WCmI96Ajtm83upeyoaX6QPnlo6G_TrOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/overpass/v19/qFda35WCmI96Ajtm83upeyoaX6QPnlo6fPTrOQ.ttf) format('truetype');
}
