@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/oxygen/v16/2sDfZG1Wl4Lcnbu6iQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/oxygen/v16/2sDcZG1Wl4LcnbuCNWgDbw.ttf) format('truetype');
}
