@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/padauk/v17/RrQRboJg-id7OnbBaw.ttf) format('truetype');
}
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/padauk/v17/RrQSboJg-id7Onb512DE1A.ttf) format('truetype');
}
