@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/palanquindark/v17/xn75YHgl1nqmANMB-26xC7yuF_6O.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/palanquindark/v17/xn76YHgl1nqmANMB-26xC7yuF8YyY241.ttf) format('truetype');
}
