@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/passionone/v20/PbynFmL8HhTPqbjUzux3JHuW.ttf) format('truetype');
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/passionone/v20/Pby6FmL8HhTPqbjUzux3JEMq037o.ttf) format('truetype');
}
