@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/philosopher/v21/vEFX2_5QCwIS4_Dhez5jcWBrT0g.ttf) format('truetype');
}
@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/philosopher/v21/vEFK2_5QCwIS4_Dhez5jcWBrd_QZ8tI.ttf) format('truetype');
}
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/philosopher/v21/vEFV2_5QCwIS4_Dhez5jcVBp.ttf) format('truetype');
}
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/philosopher/v21/vEFI2_5QCwIS4_Dhez5jcWjVamgc.ttf) format('truetype');
}
