@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/play/v21/6aez4K2oVqwIjtI.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/play/v21/6ae84K2oVqwItm4TOpc.ttf) format('truetype');
}
