@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/podkova/v33/K2FufZ1EmftJSV9VQpXb1lo9vC3nZWtFzcU4.ttf) format('truetype');
}
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/podkova/v33/K2FufZ1EmftJSV9VQpXb1lo9vC3nZWuiysU4.ttf) format('truetype');
}
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/podkova/v33/K2FufZ1EmftJSV9VQpXb1lo9vC3nZWvFysU4.ttf) format('truetype');
}
