@font-face {
  font-family: 'Pragati Narrow';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/pragatinarrow/v15/vm8vdRf0T0bS1ffgsPB7WZ-mD17_.ttf) format('truetype');
}
@font-face {
  font-family: 'Pragati Narrow';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/pragatinarrow/v15/vm8sdRf0T0bS1ffgsPB7WZ-mD2ZD5fd_.ttf) format('truetype');
}
