@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/pridi/v15/2sDQZG5JnZLfkfWa.ttf) format('truetype');
}
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/pridi/v15/2sDdZG5JnZLfkc0mjE0j.ttf) format('truetype');
}
