@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/quattrocento/v24/OZpEg_xvsDZQL_LKIF7q4jPHxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/quattrocento/v24/OZpbg_xvsDZQL_LKIF7q4jP_eE3fdw.ttf) format('truetype');
}
