@font-face {
  font-family: 'Qwitcher Grypen';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/qwitchergrypen/v8/pxicypclp9tDilN9RrC5BSI1dZmrSA.ttf) format('truetype');
}
@font-face {
  font-family: 'Qwitcher Grypen';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/qwitchergrypen/v8/pxiZypclp9tDilN9RrC5BSI1dZmT9Exkqg.ttf) format('truetype');
}
