@font-face {
  font-family: 'Ranga';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/ranga/v22/C8ct4cYisGb28p6C.ttf) format('truetype');
}
@font-face {
  font-family: 'Ranga';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/ranga/v22/C8cg4cYisGb28qY-AxgR.ttf) format('truetype');
}
