@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/recursive/v44/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadCCk018.ttf) format('truetype');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/recursive/v44/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadBllE18.ttf) format('truetype');
}
@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/recursive/v44/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadAClE18.ttf) format('truetype');
}
