@font-face {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/redrose/v25/QdVISTYiLBjouPgEUajvsfWwDtc3MH8yrfsDcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/redrose/v25/QdVISTYiLBjouPgEUajvsfWwDtc3MH8ySvwDcg.ttf) format('truetype');
}
