@font-face {
  font-family: 'Redacted Script';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/redactedscript/v12/ypvBbXGRglhokR7dcC3d1-R6zmxSsQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Redacted Script';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/redactedscript/v12/ypvEbXGRglhokR7dcC3d1-R6zmxqDUvVmQ.ttf) format('truetype');
}
