@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/rosario/v35/xfug0WDhWW_fOEoY2Fbnww42bCJhNLrQSo9wfeI.ttf) format('truetype');
}
@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/rosario/v35/xfug0WDhWW_fOEoY2Fbnww42bCJhNLrQSmh3feI.ttf) format('truetype');
}
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/rosario/v35/xfuu0WDhWW_fOEoY8l_VPNZfB7jPM68YCWcz.ttf) format('truetype');
}
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/rosario/v35/xfuu0WDhWW_fOEoY8l_VPNZfB7jPM6__Dmcz.ttf) format('truetype');
}
