@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/rowdies/v19/ptRJTieMYPNBAK21zrc.ttf) format('truetype');
}
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/rowdies/v19/ptRMTieMYPNBAK219gtm5O4.ttf) format('truetype');
}
