@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/ruda/v30/k3kKo8YQJOpFgHQ1mQ5VkEbUKaJFsi_-.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/ruda/v30/k3kKo8YQJOpFgHQ1mQ5VkEbUKaKitS_-.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/ruda/v30/k3kKo8YQJOpFgHQ1mQ5VkEbUKaLFtS_-.ttf) format('truetype');
}
