@font-face {
  font-family: 'Rufina';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/rufina/v17/Yq6V-LyURyLy-aKyow.ttf) format('truetype');
}
@font-face {
  font-family: 'Rufina';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/rufina/v17/Yq6W-LyURyLy-aKKHztAvA.ttf) format('truetype');
}
