@font-face {
  font-family: 'Sahitya';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sahitya/v20/6qLAKZkOuhnuqlJAaSc.ttf) format('truetype');
}
@font-face {
  font-family: 'Sahitya';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sahitya/v20/6qLFKZkOuhnuqlJAUZsqGyQ.ttf) format('truetype');
}
