@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sairacondensed/v12/EJROQgErUN8XuHNEtX81i9TmEkrfpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sairacondensed/v12/EJRLQgErUN8XuHNEtX81i9TmEkrnGc5g8A.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/sairacondensed/v12/EJRLQgErUN8XuHNEtX81i9TmEkrnBc1g8A.ttf) format('truetype');
}
