@font-face {
  font-family: 'Sansita Swashed';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sansitaswashed/v23/BXR8vFfZifTZgFlDDLgNkBydPKTt3pVCeYWqJnZSW7RpbTo.ttf) format('truetype');
}
@font-face {
  font-family: 'Sansita Swashed';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sansitaswashed/v23/BXR8vFfZifTZgFlDDLgNkBydPKTt3pVCeYWqJnZSW1NubTo.ttf) format('truetype');
}
@font-face {
  font-family: 'Sansita Swashed';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/sansitaswashed/v23/BXR8vFfZifTZgFlDDLgNkBydPKTt3pVCeYWqJnZSWzRubTo.ttf) format('truetype');
}
