@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sarala/v14/uK_y4riEZv4o1w9RCg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sarala/v14/uK_x4riEZv4o1w9ptjI3Og.ttf) format('truetype');
}
