@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sarpanch/v15/hESy6Xt4NCpRuk6Pzh2A.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sarpanch/v15/hES16Xt4NCpRuk6PziU8a67f.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/sarpanch/v15/hES16Xt4NCpRuk6PziUgaK7f.ttf) format('truetype');
}
