@font-face {
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/scheherazadenew/v20/4UaZrFhTvxVnHDvUkUiHg8jprP4DCwM.ttf) format('truetype');
}
@font-face {
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/scheherazadenew/v20/4UaerFhTvxVnHDvUkUiHg8jprP4DM79DHlY.ttf) format('truetype');
}
