@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sen/v12/6xK0dSxYI9_dkN18-vZKK2EISCq5H44.ttf) format('truetype');
}
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sen/v12/6xK0dSxYI9_dkN18-vZKK2EISM2-H44.ttf) format('truetype');
}
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/sen/v12/6xK0dSxYI9_dkN18-vZKK2EISKq-H44.ttf) format('truetype');
}
