@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/skranji/v14/OZpDg_dtriVFNerMYzs.ttf) format('truetype');
}
@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/skranji/v14/OZpGg_dtriVFNerMW4eBtlw.ttf) format('truetype');
}
