@font-face {
  font-family: 'Smooch Sans';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/smoochsans/v15/c4mz1n5uGsXss2LJh1QH6b129FZvxPj6I4oiwUBodg.ttf) format('truetype');
}
@font-face {
  font-family: 'Smooch Sans';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/smoochsans/v15/c4mz1n5uGsXss2LJh1QH6b129FZvxPj6I4oiJkdodg.ttf) format('truetype');
}
@font-face {
  font-family: 'Smooch Sans';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/smoochsans/v15/c4mz1n5uGsXss2LJh1QH6b129FZvxPj6I4oiQUdodg.ttf) format('truetype');
}
