@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/solway/v19/AMOQz46Cs2uTAOCWgg.ttf) format('truetype');
}
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/solway/v19/AMOTz46Cs2uTAOCuPl8Zmg.ttf) format('truetype');
}
@font-face {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/solway/v19/AMOTz46Cs2uTAOCuIlwZmg.ttf) format('truetype');
}
