@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/splinesans/v16/_6_sED73Uf-2WfU2LzycEZousNzn1a1lKWRpOFnYEg.ttf) format('truetype');
}
@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/splinesans/v16/_6_sED73Uf-2WfU2LzycEZousNzn1a1lKWRp317YEg.ttf) format('truetype');
}
