@font-face {
  font-family: 'Srisakdi';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/srisakdi/v18/yMJRMIlvdpDbkB0A-jq8.ttf) format('truetype');
}
@font-face {
  font-family: 'Srisakdi';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/srisakdi/v18/yMJWMIlvdpDbkB0A-gIAUghx.ttf) format('truetype');
}
