@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/stardosstencil/v15/X7n94bcuGPC8hrvEOHXOgaKCc2TR7w.ttf) format('truetype');
}
@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/stardosstencil/v15/X7n44bcuGPC8hrvEOHXOgaKCc2TpU3tTvg.ttf) format('truetype');
}
