@font-face {
  font-family: 'Sulphur Point';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sulphurpoint/v16/RLp5K5vv8KaycDcazWFPBj2aRfk.ttf) format('truetype');
}
@font-face {
  font-family: 'Sulphur Point';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sulphurpoint/v16/RLpkK5vv8KaycDcazWFPBj2afUU9n6k.ttf) format('truetype');
}
