@font-face {
  font-family: 'Sumana';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/sumana/v12/4UaDrE5TqRBjGj-G8A.ttf) format('truetype');
}
@font-face {
  font-family: 'Sumana';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/sumana/v12/4UaArE5TqRBjGj--TDfG5w.ttf) format('truetype');
}
