@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/syncopate/v24/pe0sMIuPIYBCpEV5eFdyAg.ttf) format('truetype');
}
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/syncopate/v24/pe0pMIuPIYBCpEV5eFdKvtKaAw.ttf) format('truetype');
}
