@font-face {
  font-family: 'Tai Heritage Pro';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/taiheritagepro/v9/sZlfdQid-zgaNiNIYcUzJMU3IYyNoHw.ttf) format('truetype');
}
@font-face {
  font-family: 'Tai Heritage Pro';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/taiheritagepro/v9/sZlYdQid-zgaNiNIYcUzJMU3IYyNmMB9NNQ.ttf) format('truetype');
}
