@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/tajawal/v12/Iura6YBj_oCad4k1rzY.ttf) format('truetype');
}
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/tajawal/v12/Iurf6YBj_oCad4k1l4qkLrY.ttf) format('truetype');
}
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/tajawal/v12/Iurf6YBj_oCad4k1l5anLrY.ttf) format('truetype');
}
