@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/tangerine/v18/IurY6Y5j_oScZZow4VOBDg.ttf) format('truetype');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/tangerine/v18/Iurd6Y5j_oScZZow4VO5srNpjA.ttf) format('truetype');
}
