@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/taviraj/v15/ahcbv8Cj3ylylTXzTOwrVw.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/taviraj/v15/ahcev8Cj3ylylTXzTOwT6-xRhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/taviraj/v15/ahcZv8Cj3ylylTXzfO4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/taviraj/v15/ahccv8Cj3ylylTXzRFIOd-k.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/taviraj/v15/ahccv8Cj3ylylTXzRE4Nd-k.ttf) format('truetype');
}
