@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/teko/v23/LYjYdG7kmE0gV69VVPPdFl06VN8XG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/teko/v23/LYjYdG7kmE0gV69VVPPdFl06VN_wHLSy.ttf) format('truetype');
}
