@font-face {
  font-family: 'The Nautigal';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/thenautigal/v8/VdGZAZ8ZH51Lvng9fQV2bfKr5w.ttf) format('truetype');
}
@font-face {
  font-family: 'The Nautigal';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/thenautigal/v8/VdGGAZ8ZH51Lvng9fQV2bfKTWypA2w.ttf) format('truetype');
}
