@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/tienne/v21/AYCKpX7pe9YCRP0LkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/tienne/v21/AYCJpX7pe9YCRP0zLGzjQA.ttf) format('truetype');
}
