@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/tillana/v15/VuJxdNvf35P4qJ1OeKY.ttf) format('truetype');
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/tillana/v15/VuJ0dNvf35P4qJ1OQBr4HIk.ttf) format('truetype');
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/tillana/v15/VuJ0dNvf35P4qJ1OQAb7HIk.ttf) format('truetype');
}
