@font-face {
  font-family: 'Trirong';
  font-style: italic;
  font-weight: 400;
  src: url(files/s/trirong/v17/7r3EqXNgp8wxdOdOn44o3Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Trirong';
  font-style: italic;
  font-weight: 700;
  src: url(files/s/trirong/v17/7r3BqXNgp8wxdOdOn44QYatB4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Trirong';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/trirong/v17/7r3GqXNgp8wxdOdOr4w.ttf) format('truetype');
}
@font-face {
  font-family: 'Trirong';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/trirong/v17/7r3DqXNgp8wxdOdOlzAN_a4.ttf) format('truetype');
}
@font-face {
  font-family: 'Trirong';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/trirong/v17/7r3DqXNgp8wxdOdOlywO_a4.ttf) format('truetype');
}
