@font-face {
  font-family: 'Trispace';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(files/s/trispace/v27/Yq65-LKSQC3o56LxxgRrtA6yBqsrXL5GI5KI-IUZVGsxWFIlbH9roQk.ttf) format('truetype');
}
@font-face {
  font-family: 'Trispace';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(files/s/trispace/v27/Yq65-LKSQC3o56LxxgRrtA6yBqsrXL5GI5KI-IUZVGsxWFIlbJhsoQk.ttf) format('truetype');
}
@font-face {
  font-family: 'Trispace';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(files/s/trispace/v27/Yq65-LKSQC3o56LxxgRrtA6yBqsrXL5GI5KI-IUZVGsxWFIlbP9soQk.ttf) format('truetype');
}
