@font-face {
  font-family: 'Turret Road';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/turretroad/v11/pxiAypMgpcBFjE84Zv-fE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Turret Road';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/turretroad/v11/pxidypMgpcBFjE84Zv-fE0P5FdeL.ttf) format('truetype');
}
@font-face {
  font-family: 'Turret Road';
  font-style: normal;
  font-weight: 800;
  src: url(files/s/turretroad/v11/pxidypMgpcBFjE84Zv-fE0PlFteL.ttf) format('truetype');
}
