@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/unkempt/v22/2EbnL-Z2DFZue0DSSYY.ttf) format('truetype');
}
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/unkempt/v22/2EbiL-Z2DFZue0DScTow1zU.ttf) format('truetype');
}
