@font-face {
  font-family: 'Varta';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/varta/v25/Qw3AZQpJHj_6LzHUngWbrFkDH1x9tD4Eig.ttf) format('truetype');
}
@font-face {
  font-family: 'Varta';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/varta/v25/Qw3AZQpJHj_6LzHUngWbrFkDH1x9UzkEig.ttf) format('truetype');
}
