@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/vesperlibre/v21/bx6CNxyWnf-uxPdXDHUD_Rd4Dw.ttf) format('truetype');
}
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/vesperlibre/v21/bx6dNxyWnf-uxPdXDHUD_RdAs2Cp0g.ttf) format('truetype');
}
