@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/vollkornsc/v12/j8_v6-zQ3rXpceZj9cqnVhF5.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/vollkornsc/v12/j8_y6-zQ3rXpceZj9cqnVinFG1uq.ttf) format('truetype');
}
