@font-face {
  font-family: 'Yaldevi';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/yaldevi/v17/cY9afj6VW0NMrDWtDNzCOwlPMq9SLpdxJzvo.ttf) format('truetype');
}
@font-face {
  font-family: 'Yaldevi';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/yaldevi/v17/cY9afj6VW0NMrDWtDNzCOwlPMq9SLpeWIDvo.ttf) format('truetype');
}
