@font-face {
  font-family: 'Zen Old Mincho';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/zenoldmincho/v13/tss0ApVaYytLwxTqcxfMyBveyYb3.ttf) format('truetype');
}
@font-face {
  font-family: 'Zen Old Mincho';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/zenoldmincho/v13/tss3ApVaYytLwxTqcxfMyBveyb5LrFla.ttf) format('truetype');
}
