@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-weight: 400;
  src: url(files/s/zenkakugothicantique/v18/6qLQKYkHvh-nlUpKPAdoVFBtfxDzIn1eCzpB21-g.ttf) format('truetype');
}
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-weight: 700;
  src: url(files/s/zenkakugothicantique/v18/6qLVKYkHvh-nlUpKPAdoVFBtfxDzIn1eCzpB22cc8jar.ttf) format('truetype');
}
