includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - bin/.phpunit/phpunit-9.5-0/vendor/autoload.php
