{% extends 'console/project/base.html.twig' %}

{% block content %}
    <div class="world-box mb-3">
        <h3 class="world-box-title">
            This tool is not ready yet
        </h3>

        <div class="bg-light p-4 p-lg-5 text-center">
            Citipo is not entirely finished for the moment.
            <br />
            This tool is still in development and is therefore not accessible yet.
        </div>
    </div>
{% endblock %}
