{% extends 'emails/base.html.twig' %}

{% block content %}
    <h2>
        {{ 'transactional.forgot_password.updated.title'|trans({}, 'emails', locale|default('en')) }}
    </h2>

    <spacer size="16"></spacer>

    <p>
        {{ 'transactional.forgot_password.updated.desc'|trans({}, 'emails', locale|default('en')) }}
        <a href="mailto:{{ 'contact_email'|trans({}, 'global', locale|default('en')) }}">{{ 'contact_email'|trans({}, 'global', locale|default('en')) }}</a>.
    </p>
{% endblock %}
