.contenteditor-customblock-qomon-petition {
    border: 1px solid #ff387f;
    background: #fff;
}
.contenteditor-customblock-qomon-petition iframe {
    width: 100%;
    height: 950px;
    overflow-y: scroll;
    border: 0;
}

.contenteditor-customblock-qomon-form {
    border: 1px solid #ff387f;
    background: #fff;
}
.contenteditor-customblock-qomon-form iframe {
    width: 100%;
    height: 700px;
    overflow-y: scroll;
    border: 0;
}

.contenteditor-customblock-qomon-resized {
    overflow-y: hidden;
}
