.contenteditor-customblock-qomon-petition {
    background: #fff;
}
@media (min-width: 910px) {
    .contenteditor-customblock-qomon-petition {
        margin-left: calc(-100vw / 2 + 910px / 2);
        margin-right: calc(-100vw / 2 + 910px / 2);
    }
}

.contenteditor-customblock-qomon-petition iframe {
    width: 100%;
    height: 950px;
    overflow-y: scroll;
    border: 0;
}

.contenteditor-customblock-qomon-form {
    border: 1px solid #ff387f;
    background: #fff;
}
.contenteditor-customblock-qomon-form iframe {
    width: 100%;
    height: 700px;
    overflow-y: scroll;
    border: 0;
}

.contenteditor-customblock-qomon-resized {
    overflow-y: hidden;
}
