<div>
    <table align="center" class="container float-center">
        <tbody>
        <tr>
            <td>
                <table class="row">
                    <tbody>
                    <tr>
                        <th class="small-12 large-12 columns first last">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <center data-parsed="">
                                            <table class="button large float-center">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="#" align="center">Button</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
