<div>
    <table align="center" class="container float-center">
        <tbody>
        <tr>
            <td>
                <table class="row">
                    <tbody>
                    <tr>
                        <th class="small-12 large-12 columns first last">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <table class="button large expand">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <center data-parsed="">
                                                                    <a href="#" align="center" class="float-center">Button</a>
                                                                </center>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
