<div>
    <table align="center" class="container float-center">
        <tbody>
        <tr>
            <td>
                <table class="row">
                    <tbody>
                    <tr>
                        <th class="small-12 large-8 columns first">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <center data-parsed="">
                                            <img src="{{ asset('contentbuilder/assets/email-blocks/images/032.jpg') }}"
                                                 align="center" class="float-center">
                                        </center>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                        <th class="small-12 large-4 columns last">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <h4 style="margin-top:0">Lorem Ipsum</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum dolor sit amet.</p>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
