<div>
    <table align="center" class="container float-center">
        <tbody>
        <tr>
            <td>
                <table class="row">
                    <tbody>
                    <tr>
                        <th class="small-12 large-6 columns last">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <h4 style="margin-top:0">Lorem Ipsum</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                        <table class="button small">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="#" title="">View More</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                        <th class="small-12 large-6 columns first">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="{{ asset('contentbuilder/assets/email-blocks/images/029-1.jpg') }}">
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <table align="center" class="container float-center">
        <tbody>
        <tr>
            <td>
                <table class="row">
                    <tbody>
                    <tr>
                        <th class="small-12 large-6 columns last">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <h4 style="margin-top:0">Lorem Ipsum</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                        <table class="button small">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="#" title="">View More</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                        <th class="small-12 large-6 columns first">
                            <table>
                                <tbody>
                                <tr>
                                    <th>
                                        <img src="{{ asset('contentbuilder/assets/email-blocks/images/029-2.jpg') }}">
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
