{% extends 'emails/base.html.twig' %}

{% block content %}
    <h2>
        {{ 'transactional.invite.title'|trans({'%platform%': platform_name}, 'emails', locale|default('en')) }}
    </h2>

    <spacer size="16"></spacer>

    <p>
        {{ 'transactional.invite.desc'|trans({
            '%platform%': platform_name,
            '%author%': author_name,
            '%organization%': organization_name,
        }, 'emails', locale|default('en'))|raw }}
    </p>

    <spacer size="16"></spacer>

    <button class="large expand"
            href="{{ url('console_organization_projects', {'organizationUuid': organization_uuid}) }}">
        {{ 'transactional.invite.link'|trans({'%platform%': platform_name}, 'emails', locale|default('en')) }}
    </button>
{% endblock %}
