{% if entity.instance.secretResetPassword and not entity.instance.isDueDateResetPasswordExpired %}
    <div style="font-size: 12px;">
        {{ url('security_forgot_password', { 'uuid': entity.instance.secretResetPassword }) }}
    </div>
{% endif %}
