{% extends 'emails/base.html.twig' %}

{% block content %}
    <h2>
        {{ 'transactional.notification.new_quote.title'|trans({}, 'emails', locale) }}
    </h2>

    <spacer size="16"></spacer>

    <p>
        {{ 'transactional.notification.new_quote.desc'|trans({'%organization%': organization_name}, 'emails', locale)|raw }}
    </p>
{% endblock %}
